@import url('https://fonts.cdnfonts.com/css/dt-getai-grotesk-display');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-image: linear-gradient(to bottom right, #d3f5cf, #A8DBFA, #635EE2);
}
#full_body{
    
    width: 100vw;
    height: 100vh;
    background-image: url(../images/asfalt-dark.png);
}
#header{
    font-size: 2rem;
   text-align: center; 
   font-family: 'DT Getai Grotesk Display', sans-serif;
}
#addbutton{
    position: absolute;
    top: -6px ;
    right: 9px;
    float: right;
    font-size: 3rem;

}
#motherDiv{
    width: auto;
    height: 87vh;
    background-color: #d4fafe;
    border-radius: 30px;
    margin-top: 21px;
    margin-left: 10vw;
    margin-right: 10vw;
    overflow-y: scroll;
}

#completedbutton{
    border-top: 2px black solid ;
    height: 4vh;
    position: absolute;
    margin-top: 82vh;
    width: 80vw;
    padding-top: 5px;
    background: linear-gradient(#7a77d3, #635EE2);
    border-radius: 0 0 30px 30px;
}
#spin{
    position: absolute;
    margin-left: 11px;
    color: aliceblue;
}
#comtext{
    margin-left: 25px;
    color: aliceblue;
}
#createmenu{
    background-color: #d4fafe;
    width: 100%;
    height: min-content;
    position: absolute;
    top:0;
    margin-top: 30vh;
    border-top: #635EE2 3px solid;
    border-bottom: #635EE2 3px solid;
    display: none;
}

.formu{
    margin-left: 5%;
    width: 90%;
}

#Description{
    height: 10rem;
    
}

#Done{
    background: linear-gradient(#8885db, #635EE2);
    border: 0;
    color: white;
    border-radius: 10px;
    height: 1.5rem;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 85%;
}

#Done:hover{
    
    transform: scale(1.05);
    background: linear-gradient(#635EE2, #8885db);
}